<%- include('includes/head.ejs') %>

  <!-- all main content goes here (body) -->
  <form class="form" method="POST" action="/users">
    <div class="form__field">
      <label class="form__label" for="name">Name:</label>
      <input class="form__input" type="text" id="name" name="name" placeholder="Enter your name" />
    </div>
    <button type="submit" class="form__submit-button">Submit</button>
  </form>

  <%- include('includes/end.ejs') %>