<!DOCTYPE html>
<html>

<head>
  <title>User Information</title>
  <link rel="stylesheet" href="css/users.css">
</head>

<body>
  <h1>User Information</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
    </tr>
    <tr>
      <td>John Doe</td>
      <td>johndoe@example.com</td>
      <td>25</td>
    </tr>
    <tr>
      <td>Jane Smith</td>
      <td>janesmith@example.com</td>
      <td>30</td>
    </tr>
    <tr>
      <td>Mike Johnson</td>
      <td>mikejohnson@example.com</td>
      <td>35</td>
    </tr>
  </table>
</body>

</html>