body {
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 60px 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__field {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.form__label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 20px;
}
.form__input {
  padding: 0.5rem;
  font-size: 1rem;
}
.form__submit-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
